{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

  <head>
    <title>
      Dashboard page
    </title>
    <meta charset="utf-8" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/fav/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/fav/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/fav/favicon-16x16.png"
    />
    <link rel="manifest" href="/fav/site.webmanifest" />
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link href="css/normalize.css" rel="stylesheet" />

    <link href="css/dashboard.css" rel="stylesheet" />

    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="page page--dashboard">
      <aside class="page__aside aside vertical vertical--big">
        <div class="aside__logo text">Sidebar</div>
        <nav class="vertical vertical-small">
          <a href="#" class="nav-button nav-button__active click">
            <span
              class="icon nav-button__icon"
              style="background-image: url(/img/nav/home.svg);"
            ></span>
            <span class="text text--line text--light">Home</span>
          </a>

          <a href="/orders" class="nav-button click-n-active click">
            <span
              class="icon nav-button__icon"
              style="background-image: url(/img/nav/orders.svg);"
            ></span>
            <span class="text text--light">Orders</span>
          </a>

          <a href="#" class="nav-button click-n-active click">
            <span
              class="icon nav-button__icon"
              style="background-image: url(/img/nav/products.svg);"
            ></span>
            <span class="text text--line text--light">Products</span>
          </a>

          <div class="relative click">
            <div class="field field--select relative">
              <span class="text--light">Choose...</span>
            </div>
            <select class="field__select">
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
            </select>
          </div>

        </nav>
      </aside>
      <header class="header">
        <div class="layout header__content relative text--small">
          <div class="header__search">
            <input
              type="text"
              placeholder="Search"
              class="text field field--header"
            />
            <span
              class="icon header__icon-search"
              style="background-image: url(/img/header/search.svg);"
            ></span>
            <span
              class="icon icon--header-settings icon--color-blue icon-button click"
              style="background-image: url(/img/header/settings2.svg);"
            ></span>

          </div>
        </div>
      </header>
      <main class="main">
        <div class="layout">
          <section class="box analytic__block vertical--big">

            <div class="analytic analytic--double analytic--blue">
              <span
                class="icon analytic__button icon--color-blue icon-button click"
                style="background-image: url(/img/svg/analytic/order2.svg);"
              ></span>
              <div class="relative vertical--small">
                <div class="analytic__title text text--light">$961</div>
                <div class="text text--small text--lighter">Total Order</div>
                <span
                  class="icon analytic__arrow"
                  style="background-image: url(/img/svg/analytic/blue-arrow.svg);"
                ></span>
              </div>
            </div>

            <div class="analytic analytic--double analytic--purple">
              <span
                class="icon analytic__button icon--color-purple icon-button click"
                style="background-image: url(/img/svg/analytic/order.svg);"
              ></span>
              <div class="relative vertical--small">
                <div class="analytic__title text text--light">$500.00</div>
                <div class="text text--small text--lighter">Total Earning</div>
                <span
                  class="icon analytic__arrow"
                  style="background-image: url(/img/svg/analytic/blue-arrow.svg);"
                ></span>
              </div>
            </div>

            <div class="analytic analytic--blue analytic--thirty">
              <div>
                <span
                  class="icon analytic__button icon--color-blue icon-button click"
                  style="background-image: url(/img/svg/analytic/order2.svg);"
                ></span>
              </div>
              <div class="analytic--thirty__info">
                <div class="analytic--thirty__title">$203k</div>
                <div class="analytic--thirty__text">Total Income</div>
              </div>

            </div>
            <div class="analytic analytic__end">
              <div>
                <span
                  class="icon analytic__button icon-button analytic--end__icon click"
                  style="background-image: url(/img/svg/analytic/order3.svg);"
                ></span>
              </div>
              <div class="analytic--thirty__info">
                <div class="analytic--end__title">$203k</div>
                <div class="analytic--end__text">Total Income</div>
              </div>

            </div>

          </section>

          <section class="main__double wrapper purchase--block">
            <div class="box box-1">
              <div class="purchase--block__text hr">Purchase list</div>

              <div class="purchase_content">
                <div class="purchase_content--primmary hr">
                  <div class="purchase_content--primmary__column">
                    <div class="primmary__column--text">ID437661</div>
                    <div class="primmary__column--text">May 11, 2023, 14:21</div>
                  </div>
                  <div class="purchase_content--primmary__column">
                    <div class="primmary__column--text">AirOn ProCam</div>
                    <div class="primmary__column--text">7/8 USB Type-C</div>
                  </div>
                  <div class="purchase_content--primmary__column">
                    <div class="primmary__column--text">132.32 EUR</div>
                    <div class="primmary__column--text falce">Not paid</div>
                  </div>
                  <div class="purchase_content--primmary__column">
                    <div class="primmary__column--text">Customer</div>
                    <div class="primmary__column--text">robin@com.de</div>
                  </div>
                </div>
                <div class="purchase_content--primmary">
                  <div class="purchase_content--primmary__column">
                    <div class="primmary__column--text">ID437661</div>
                    <div class="primmary__column--text">May 11, 2023, 14:21</div>
                  </div>
                  <div class="purchase_content--primmary__column">
                    <div class="primmary__column--text">AirOn ProCam</div>
                    <div class="primmary__column--text">7/8 USB Type-C</div>
                  </div>
                  <div class="purchase_content--primmary__column">
                    <div class="primmary__column--text">132.32 EUR</div>
                    <div class="primmary__column--text true">Pay by Stripe</div>
                  </div>
                  <div class="purchase_content--primmary__column">
                    <div class="primmary__column--text">Customer</div>
                    <div class="primmary__column--text">dima@com.ua</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box box-2">
              <div class="purchase--block__text hr">Payment</div>
              <div class="paument_content">
                <div class="paument__ex ex">
                  <div class="paument__radio">
                    <input type="radio" name="1" id="1" />
                    <p class="radio__text">Credit card</p>
                  </div>

                  <div class="paument__radio">
                    <input type="radio" name="1" id="1" />
                    <p class="radio__text">Debit card</p>
                  </div>

                  <div class="paument__radio">
                    <input type="radio" name="1" id="1" />
                    <p class="radio__text">PayPal</p>
                  </div>
                </div>

                <div class="paument__ex">
                  <div class="cards__introduce hr">
                    <div class="card__introduce">
                      <label for="">Name on card</label>
                      <input type="text" class="paument_input" />
                    </div>
                    <div class="card__introduce">
                      <label for="">Name on card</label>
                      <input type="text" class="paument_input" />
                    </div>
                    <div class="card__introduce">
                      <label for="">Name on card</label>
                      <input type="text" class="paument_input" />
                    </div>
                    <div class="card__introduce">
                      <label for="">Name on card</label>
                      <input type="text" class="paument_input" />
                    </div>
                  </div>
                </div>

                <div class="paument__ex paument__select hr">
                  <div class="paument__selector">
                    Country
                    <div class="relative click">
                      <div class="field field--select relative">
                        <span class="">Choose...</span>
                      </div>
                      <select class="field__select">
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                      </select>
                    </div>

                  </div>
                  <div class="paument__selector">
                    State
                    <div class="relative click">
                      <div class="field field--select relative">
                        <span class="">Choose...</span>
                      </div>
                      <select class="field__select">
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="paument__ex button__pay">
                  <div class="payment__button click">Continue to checkout</div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
  </body>

</html>