{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class="p-5 box">
  <h1 class="button">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <button type="button" class="button" id="button">Купити</button>

  <p class="user">this is text</p>
</div>

<footer class="p-5 box">
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <p class="user">Link <em>Test EM</em></p>
  <div>
    <div>
      <p class="p-top">pruvit tim</p>
    </div>
  </div>
</footer>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}