<main class="p-5">
  <div class="card p-5">
    <p id="test">hello world</p>
    <p id="test">hello world</p>
    <p id="test">hello world</p>
    <span class="test">text</span>
  </div>
  <pre>
    jghjf
  </pre>

  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>

  <div style="margin: 10px 50px 100px 200px: background: gray;">
    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>

    <span class="block">Inline Inline
    </span>
  </div>
</main>

<div>

</div>