.card {
  border: none;
}

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(255, 3, 238);
  -webkit-text-stroke: 1px rgb(187, 255, 0);

  direction: rtl;
}

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  text-align: justify;

  tab-size: 10px;
}

span:hover {
  text-decoration: line-through wavy red;
}

.span-b {
  text-transform: uppercase;
  text-decoration: underline double blue;
}

pre {
  tab-size: 1;
}

* {
  font-family: "Rubik Dirt", cursive;
  font-size: 18px;
  font-weight: 900;
}

/* span {
  font-weight: lighter;
  font-style: oblique;
} */

.test {
  display: none;
}

.block {
  display: inline-block;

  background: grey;

  min-width: 10px;

  min-height: 100px;

  max-height: 300px;

  padding: 15px;
}
