:root {
  background: purple;
}

html {
  max-width: 720px;
}

body {
  background: #fff;
}

* {
  color: blue;
}

h1 {
  color: green;
}

.box {
  background: grey;
}

#user {
  color: rgb(255, 242, 0);
}

h1,
h2,
button {
  color: green;
}

.button {
  background: rgb(218, 243, 28);
}

#user,
.user {
  color: blue;
}

#box > p {
  color: paleturquoise;
}

footer > .user {
  color: palevioletred;
}

footer > h1 {
  color: blueviolet;
}

footer > .user > em {
  color: rgb(0, 245, 249);
}

footer p {
  color:rgb(96, 170, 4);
}

.p-top {
  background: black;
}

h1 + p {
  background: black;
}

h1 ~ p {
  background: pink;
}