strong {
  font-size: var(--size-d);
  color: var(--color-title);
  font-weight: var(--weight-title);
}

h1 {
  width: max-content;
  font-family: Roboto;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}
