:root {
  background: purple;
}

html {
  max-width: 720px;
}

body {
  background: #fff;
}

* {
  color: red;
}

h1 {
  color: green;
}

.box {
  background: grey;
}

#user {
  color: rgb(255, 242, 0);
}